
<br>
<br>
<tr>
<td>
<h1 style="background-color:white; background-size: contain">Personal Boards:</h1>
</td>
</tr>
<br>
<button type="button" data-ng-click="test.startCreate()" id="createBoardBtn" class="btn btn-primary btn-sm">+ Create Board</button> <br>
<br>
<div id="homeTitle"></div>
<div id="view"></div>

<div id="createBoardForm" style="visibility:hidden;">

	Enter Title: <input id="bTitle" data-ng-model="test.bTitle"  type="text"><br><br>
	<button type="button" data-ng-click="test.create()" id="createBtn" class="btn btn-primary btn-sm">Create Board</button>

</div>
