<table class="table table-hover" id="userTable">
	<thead class="thead-inverse">
		<tr>
		
			<th>User ID</th>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Username</th>
			<th>Password</th>
			<th>Role Type</th>
			<th>Email</th>
			<th>Team</th>

		</tr>
	</thead>
	<tbody>
		
	</tbody>
</table>
<br>

<button type="button" data-ng-click="test.updateInfo()" id="updateBtn" class="btn btn-primary" style="color: white;">Update Profile</button>

<div id="profileForm" style="visibility:hidden; color: white;">

	Enter new First Name: <input id="firstName" data-ng-model="test.firstName" type="text"> <br>
	Enter new Last Name: <input id="lastName" data-ng-model="test.lastName" type="text"> <br>
	Enter new Username:	<input id="userName" data-ng-model="test.userName" type="text"> <br>
	Enter new Password:	<input id="password" data-ng-model="test.password" type="text"> <br>
	Enter new Email:	<input id="email" data-ng-model="test.email" type="text"> <br>
	
	<button type="button" data-ng-click="test.done()" id="doneBtn" class="btn btn-primary">Done</button>
	
</div>